<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simon Maxwell-Stewart's CV Resume">
    <meta name="author" content="Simon Maxwell-Stewart">


    <title>Simon Maxwell-Stewart - CV</title>

    <!-- Bootstrap core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="css/cv.css" rel="stylesheet">
    
	<link rel="stylesheet" href="css/font-awesome.min.css">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>


    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/smoothscroll.js"></script>
    <script src="js/Chart.js"></script>

    <style>
        body {
            background-color: white;
        }
        /* Header Wrap */
        #headerwrap {
            background: #2c3e50;
            margin-top: 0px;
            padding-top:20px;
            text-align:center;
            min-height: 5px;
            width: 100%;
        }



        /* Intnro Wrap */

        #intro {
            background: #2c3e50;
            padding-top: 60px;
            padding-bottom: 40px;
            color: white;
        }

        #skillswrap {
            background: #2c3e50;
            padding-top: 60px;
            padding-bottom: 20px;
            color: white;
        }


    </style>

  </head>

  <body data-spy="scroll" data-offset="0" data-target="#nav">


	
	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-12">
					<h1>Simon Maxwell-Stewart</h1>
					<h3>Développeur de logiciels | smaxwellstewart.com</h3>
				</div><!--/.col-lg-12 -->
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/.#headerwrap -->
	

	<section id="about" name="about"></section>
	<div id="intro">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-2 col-lg-offset-1">
					<h5>PROFILE</h5>
				</div>
				<div class="col-lg-6">
					<p>Je suis développeur de logiciels avec 5 ans d’expérience. Je m’intéresse à tous les genres de communication visuelle pourtant je me spécialise dans le développement d’applications web en temps reel, avec interfaces mobiles et tablettes.  En plus, j’ai des compétences dans des domaines divers tels que l’analyse des données et les reportages.</p>
				</div>
				
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #intro -->


	<section id="resume" name="resume"></section>
	<!--EDUCATION DESCRIPTION -->
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>ÉDUCATION</h5>
				</div>
				<div class="col-lg-6">
					<p><t>BSc. Physics </t><br/>
						University of Oxford | JUILLET 2010<br/>
						<i>3 Année</i>
					</p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>A Levels: Math & Avancé Maths, Physique & Biologique</t><br/>
						King's School Worcester | JUIN 2007<br/>
						<i>2 Année</i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm></sm></p>
				</div>
	
		</div><!--/.row -->
		<br>
		<hr>
	</div><!--/.container -->
	
	
	<!--WORK DESCRIPTION -->
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>EXPÉRIENCE</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Développeur de logiciels</t><br/>
						Mobicow.com | 2014 - COURANT<br/>
					</p>
					<p><more>Mobicow est un réseau publicitaire avec une différence, ils ont construit leur propre annonce-réseau personnalisé. Travailler pour eux m'a appris comment faire des applications en temps réel à l'échelle d'Internet complet.</more></p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Développeur de Web</t><br/>
						Freelance | 2012 - 2014<br/>
					</p>
					<p><more>Courir ma propre entreprise m'a donné une énorme quantité de responsabilité, je n'aurais pas facile à trouver ailleurs. J'ai bien aimé la pression d'avoir à prendre des décisions commerciales intelligentes jour après jour.</more></p>
				</div>


                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>IT Maintenance & Social Media</t><br/>
                        NHC Institute | 2011 - 2012<br/>

                </div>
                <div class="col-lg-3">
                    <p><sm></sm></p>
                </div>
                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Web Designer</t><br/>
                        Red PR & Marketing | 2010 - 2011<br/>
                    </p>

                </div>


            <div class="col-lg-6 col-lg-offset-3">
                <p><t>Chef</t><br/>
                    Winston Churchill Pub -  Montreal, Canada (2011)<br/>
                    Saffrons -  Worcester, UK (2010)<br/>
                    The Royal Oak - Oxford, UK (2008)
                </p>
            </div>


            <div class="col-lg-6 col-lg-offset-3">
                <p><t>DJ / Club Promoter</t><br/>
                    Baby Love Bar, Oxford. Ran and performed a profitable student club night.
                </p>

            </div>
		</div><!--/.row -->
		<br>
		<hr>
	</div><!--/.container -->


	<!--&lt;!&ndash;AWARDS DESCRIPTION &ndash;&gt;-->
	<!--<div class="container desc">-->
		<!--<div class="row">-->
				<!---->

		<!--</div>&lt;!&ndash;/.row &ndash;&gt;-->
		<!--<br>-->
	<!--</div>&lt;!&ndash;/.container &ndash;&gt;-->


	<!--SKILLS DESCRIPTION -->
	<div id="skillswrap">
		<div class="container">
			<div class="row">
					<div class="col-xs-2 col-xs-offset-1">
						<h5>COMPÉTENCES</h5>
					</div>
					<div class="col-xs-3 centered">

						<p>Javascript</p>
					</div>
					<div class="col-xs-3 centered">

						<p>PHP</p>


					</div>
					<div class="col-xs-3 centered">

						<p>Wordpress</p>


					</div>
					
					<div class="col-xs-3 col-xs-offset-3 centered">

						<p>Bootstrap</p>

					</div>
					<div class="col-xs-3 centered">

						<p>HTML / CSS</p>


					</div>
					<div class="col-xs-3 centered">

						<p>Sys Admin</p>

					</div>

			</div><!--/.row -->
			<br>
		</div><!--/.container -->
	</div><!--/ #skillswrap -->


	


	<section id="contact" name="contact"></section>
	<!--FOOTER DESCRIPTION -->
	<div id="footwrap">
		<div class="container">
			<div class="row">
			
				<div class="col-xs-2 col-xs-offset-1">
					<h5>CONTACT</h5>
				</div>
				<div class="col-xs-6">
					<p><t>Email</t><br/>
						smaxwellstewart@gmail.com<br/>
					</p>
					<p><t>Adresse</t><br/>
						349 St. Marguerite <br/>
						Montreal, CANADA <br/>
						H4C 2W9<br/>
					</p>

				</div>
				<div class="col-xs-3">
                    <p><t>Phone</t><br/>
                        +1 514-898-0189 <br/>
                    </p>
                    <p><t>References</t><br/>Available on Request</p>

				</div>
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #footer -->

	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>


  </body>
</html>
