<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simon Maxwell-Stewart's CV Resume">
    <meta name="author" content="Simon Maxwell-Stewart">


    <title>Simon Maxwell-Stewart - CV</title>

    <!-- Bootstrap core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="css/cv.css" rel="stylesheet">
    
	<link rel="stylesheet" href="css/font-awesome.min.css">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>


    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/smoothscroll.js"></script>
    <script src="js/Chart.js"></script>

  </head>

  <body data-spy="scroll" data-offset="0" data-target="#nav">

	<div id="section-topbar">
		<div id="topbar-inner">
			<div class="container">
				<div class="row">
					<div class="dropdown">
						<ul id="nav" class="nav">
							<li class="menu-item"><a class="smoothScroll" href="#about" title="About"><i class="icon-user"></i></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#resume" title="Resume"><i class="icon-file"></i></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#work" title="Works"><i class="icon-briefcase"></i></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#contact" title="Contact"><i class="icon-envelope"></i></a></li>
						</ul><!--/ uL#nav -->
					</div><!-- /.dropdown -->

					<div class="clear"></div>
				</div><!--/.row -->
			</div><!--/.container -->

			<div class="clear"></div>
		</div><!--/ #topbar-inner -->
	</div><!--/ #section-topbar -->
	
	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-12">
					<h1>Simon Maxwell-Stewart</h1>
					<h3>Software Developer | smaxwellstewart@gmail.com</h3>
				</div><!--/.col-lg-12 -->
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/.#headerwrap -->
	

	<section id="about" name="about"></section>
	<div id="intro">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-2 col-lg-offset-1">
					<h5>ABOUT</h5>
				</div>
				<div class="col-lg-6">
					<p>I'm a software developer with 5 years of professional experience. I'm interested in all kinds of visual communication, but my major focus is on developing realtime web apps, with mobile & tablet interfaces. I also have skills in other fields like data analysis and reporting.</p>
				</div>
				<div class="col-lg-3">
					<p><a style="color: white;" href="images/cv-2014.pdf"><i class="icon-file"></i><sm> DOWNLOAD PDF</sm></a></p>
				</div>
				
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #intro -->


	<section id="resume" name="resume"></section>
	<!--EDUCATION DESCRIPTION -->
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>EDUCATION</h5>
				</div>
				<div class="col-lg-6">
					<p><t>BSc. Physics</t><br/>
						University of Oxford<br/>
						<i>3 Year Course</i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>JULY 2010</sm><br/>

					</p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>A Levels - Further Maths, Physics & Biology</t><br/>
						King's School Worcester<br/>
						<i>2 Year Course</i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>JUNE 2007</sm></p>
				</div>
	
		</div><!--/.row -->
		<br>
		<hr>
	</div><!--/.container -->
	
	
	<!--WORK DESCRIPTION -->
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>TECH<br/>EXPERIENCE</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Software Developer</t><br/>
						Mobicow.com <br/>
					</p>
					<p><more>Mobicow is a an ad network with a difference, they have built their own custom ad-network. Working for them has taught me how to make realtime applications at full internet scale.</more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>2014 - CURRENT</sm></p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Web Developer</t><br/>
						Freelance <br/>
					</p>
					<p><more>Running my own business gave me a huge amount of responsibility I would not have easily found elsewhere. I enjoyed the pressure of having to make smart business decisions day in day out.</more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>2012 - 2014</sm></p>
				</div>

                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>IT Maintenance & Social Media</t><br/>
                        NHC Institute<br/>

                </div>
                <div class="col-lg-3">
                    <p><sm>2011 - 2012</sm></p>
                </div>
                <div class="col-lg-6 col-lg-offset-3">
                    <p><t>Web Designer</t><br/>
                        Red PR & Marketing<br/>
                    </p>

                </div>
                <div class="col-lg-3">
                    <p><sm>2010 - 2011</sm></p>
                </div>
		</div><!--/.row -->
		<br>
		<hr>
	</div><!--/.container -->


	<!--AWARDS DESCRIPTION -->
	<div class="container desc">
		<div class="row">
				<div class="col-lg-2 col-lg-offset-1">
					<h5>OTHER<br/>EXPERIENCE</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Chef</t><br/>
                        Winston Churchill Pub -  Montreal, Canada (2011)<br/>
                        Saffrons -  Worcester, UK (2010)<br/>
                        The Royal Oak - Oxford, UK (2008)
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>2008 - 2011</sm></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>DJ / Club Promoter</t><br/>
						Baby Love Bar, Oxford. Ran and performed a profitable student club night.
                    </p>

				</div>
				<div class="col-lg-3">
					<p><sm>2009</sm></p>
				</div>

		</div><!--/.row -->
		<br>
	</div><!--/.container -->


	<!--SKILLS DESCRIPTION -->
	<div id="skillswrap">
		<div class="container">
			<div class="row">
					<div class="col-lg-2 col-lg-offset-1">
						<h5>TECHNICAL<br />SKILLS</h5>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="javascript" height="130" width="130"></canvas>
						<p>Javascript / Node</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 70,
										color:"#1abc9c"
									},
									{
										value : 30,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="bootstrap" height="130" width="130"></canvas>
						<p>PHP</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 90,
										color:"#1abc9c"
									},
									{
										value : 10,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("bootstrap").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="wordpress" height="130" width="130"></canvas>
						<p>Wordpress</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 65,
										color:"#1abc9c"
									},
									{
										value : 35,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("wordpress").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					
					<div class="col-lg-3 col-lg-offset-3 centered">
						<canvas id="html" height="130" width="130"></canvas>
						<p>Bootstrap</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 80,
										color:"#1abc9c"
									},
									{
										value : 20,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("html").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="photoshop" height="130" width="130"></canvas>
						<p>HTML / CSS</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 70,
										color:"#1abc9c"
									},
									{
										value : 30,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("photoshop").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="illustrator" height="130" width="130"></canvas>
						<p>System Admin</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 50,
										color:"#1abc9c"
									},
									{
										value : 50,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("illustrator").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>

			</div><!--/.row -->
			<br>
		</div><!--/.container -->
	</div><!--/ #skillswrap -->



	<section id="work" name="work"></section>
	<!--PORTFOLIO DESCRIPTION -->
	<div class="container desc">
		<div class="row">
				<div class="col-lg-2 col-lg-offset-1">
					<h5>PORTFOLIO</h5>
				</div>
				<div class="col-lg-6">
					<!-- <p><img class="img-responsive" src="images/projects/merchline.png" alt="Merchline Sales Data Tool"></p> -->
				</div>
				<div class="col-lg-3">
					<p>MERCHLINE.COM<br/><em>Sales Data Tool</em></p>
				<p><more>Merchline wanted to provide their clients with realtime sales data from their online e-commerce platform, Shopify. Together we created a mobile friendly 'Client Area', for users to access current, sales figures, inventory quantities and top customers.<br/><br/>
					<sm><i class="icon-tag"></i> Lead Architect</sm></more>
				</p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><img class="img-responsive" src="images/projects/vlyy.png" alt=""></p>
				</div>
				<div class="col-lg-3">
						<p>VLYY.COM<br/><em>Social Video Sharing</em></p>
					<p><more>I was approached by Vlyy.com to turn the initial designs of the very talented <a href="http://christopherkoser.com/">Chris Köser</a> into a fully working prototype. It was a real pleasure working with a creative graphic designer to make a slick product.<br/><br/>
						<sm><i class="icon-tag"></i>Lead Developer</sm></more>
					</p>
				</div>

		
		</div><!--/.row -->
		<br>
		<br>
	</div><!--/.container -->
	


	<section id="contact" name="contact"></section>
	<!--FOOTER DESCRIPTION -->
	<div id="footwrap">
		<div class="container">
			<div class="row">
			
				<div class="col-lg-2 col-lg-offset-1">
					<h5>CONTACT</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Email</t><br/>
						smaxwellstewart@gmail.com<br/>
					</p>
					<p><t>Address</t><br/>
						349 St. Marguerite <br/>
						Montreal, CANADA <br/>
						H4C 2W9<br/>
					</p>
					<p><t>Phone</t><br/>
						+1 514-898-0189 <br/>
					</p>
				</div>
				<div class="col-lg-3">

                    <p><t>References</t><br/>"Having worked with Simon on various projects over the past 2 years, I can say that he is one of the best developers I have worked with.  Not only is he willing and able to tackle the most difficult tasks and work with the latest tools, but most importantly, he knows when to question everything to ensure the best outcome."<br/><strong>Rob Shuter</strong> - <em>System D Technologies</em></p>

					<p><sm>SOCIAL LINKS</sm></p>
					<p>
						<a href="#"><i class="icon-dribbble"></i></a>
						<a href="#"><i class="icon-twitter"></i></a>
						<a href="#"><i class="icon-facebook"></i></a>
						<a href="#"><i class="icon-linkedin"></i></a>
						<a href="#"><i class="icon-apple"></i></a>

					</p>
				</div>
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #footer -->
	
	<div id="c">
		<div class="container">
			<p><small>Theme by <a href="http://www.blacktie.co">Blacktie.co</a></small></p>
		</div>
	</div>
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>


  </body>
</html>
